/*
$color-primary:
$color-primary-light:
$color-primary-dark: #fff

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*
    html {
        font-size: 62.5%;
    }
*/
body {
  padding: 150px;
  padding-top: 50px;
  padding-bottom: 0px; }

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000; }

.heading-primary {
  color: #1f1d1d;
  text-transform: uppercase; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 57px;
    line-height: 1; }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  display: block;
  background-color: #518abd;
  color: seashell;
  letter-spacing: 5px; }

.heading-third {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 100;
  display: block;
  border-bottom: 1px solid #518abd;
  background-color: transparent;
  color: #518abd;
  letter-spacing: 5px; }

.heading-four {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 100;
  display: block;
  background-color: transparent;
  color: #518abd;
  letter-spacing: 5px; }

.description-paragraph {
  font-size: 12px;
  color: #6b6562; }
  .description-paragraph:not(:last-child) {
    margin-bottom: 3rem; }

paragraph {
  font-size: 16px; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-Gallery {
  background-color: transparent;
  padding: 5rem 0;
  margin-top: -20vh;
  position: relative; }

.spacing {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #f8f8f8 5px, #f8f8f8 15px);
  padding: 5rem 0;
  margin-top: -1vh;
  position: relative; }

.section-about {
  background-color: transparent;
  padding: 14rem 0;
  margin-top: -20vh; }

.section-contact {
  background-color: transparent;
  padding: 14rem 0;
  margin-top: -20vh; }

.contact {
  background-color: white;
  border: 1px solid #518abd;
  background-size: 100%;
  border-radius: 3px;
  height: 35rem; }
  .contact__form {
    width: 100%;
    padding: 5rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all 0s;
  position: relative;
  font-size: 16px;
  border-radius: 1.5rem;
  border: 1px solid #518abd;
  cursor: pointer; }

.btn:hover {
  border: 1px solid #518abd;
  background-color: #497fad; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-main {
  background-color: #518abd;
  color: white; }
  .btn-main::after {
    background-color: #518abd; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: MoveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #518abd;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #518abd;
  color: #518abd;
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0); }

.composition {
  position: relative;
  /*
                &:hover{
                    outline: 1.5rem solid $color-primary;
                    z-index: 30;
                }
            }
        
            &:hover &__photo:not(:hover){
                transform: scale(.95);
            }
*/ }
  .composition__photo {
    position: absolute;
    z-index: 10; }
    .composition__photo--p1 {
      width: 100%;
      left: 0rem;
      top: -37rem; }
    .composition__photo--p2 {
      width: 50%;
      right: 30rem;
      top: -27rem; }
  .composition--p3 {
    width: 70%;
    left: 30%;
    top: -10rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.1);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid green; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #518abd; }

.form__label {
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 0rem;
  margin-top: 0rem;
  display: block;
  transition: all .3s;
  color: #518abd; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #518abd;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #518abd;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__textarea {
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.1);
  resize: none;
  transition: all .3s; }
  .form__textarea:focus {
    outline: none; }

.sticky {
  border: 0;
  position: fixed;
  right: 5%;
  bottom: 25%;
  z-index: 1000;
  padding: 0;
  font-size: 2em;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  text-align: center;
  text-decoration: none;
  background-color: #cb5234;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  visibility: hidden;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0; }
  .sticky::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff; }
  .sticky:hover {
    cursor: pointer;
    background-color: #8e3924; }
  .sticky:active {
    background-color: green; }
  .sticky.visible {
    visibility: visible;
    opacity: 1; }
  .sticky__icon {
    font-size: 2.5rem;
    color: white; }

.gallery {
  width: 75%;
  margin: 3rem auto;
  border-radius: 3px;
  /*    padding: 6rem;
    padding-left: 9rem; */
  font-size: 16px;
  position: relative; }
  .gallery__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative; }
  .gallery__img {
    height: 120%;
    backface-visibility: hidden;
    transition: .5s;
    position: relative; }
  .gallery__caption {
    position: absolute;
    transform: translate(-50%, 20%);
    top: 50%;
    left: 10%;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .gallery:hover .gallery__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .gallery:hover .gallery__img {
    filter: blur(0.5px) brightness(80%); }

.header {
  height: 15vh;
  /*    background-image: url(../img/hug1.png); */
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: 5vh;
  z-index: 100; }
  .header_text-box {
    top: 10%;
    left: 5%;
    position: relative; }

.navigation__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: top;
  background-color: white;
  position: relative;
  border-bottom: 1px solid #518abd; }

.navigation__list {
  position: relative;
  width: 100%;
  list-style: none;
  color: black;
  display: flex;
  justify-content: flex-end; }

.navigation__item {
  flex-direction: row-reverse; }

.navigation__link:link, .navigation__link:visited {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 1rem 1rem;
  color: #518abd;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #9eb6cb; }

.footer {
  background-color: #fbf3ee;
  font-size: 0.7rem;
  color: #518abd;
  width: 100%;
  position: absolute;
  padding: 4.3rem 0rem;
  box-sizing: border-box;
  margin: -13.7em; }
  .footer__navigation {
    border-top: 1px solid #518abd;
    padding-top: 1rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #518abd;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #003e77; }
  .footer__copyright {
    border-top: 1px solid #518abd;
    padding-top: 1rem;
    width: 80%;
    float: right; }

.row {
  max-width: 50rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 4rem; }

.col-1-of-2 {
  width: calc((100% - 4rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4); }

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.col-4-of-5 {
  width: calc((100% - 2 * 4rem) / 3); }

.col-5-of-5 {
  width: calc(2 * ((100% - 2 * 4rem) / 4) + 4rem); }

.container-ofri {
  max-width: 80vw;
  margin: 0 auto; }

.grid-row-ofri {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.grid-item-ofri {
  height: 300px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box; }
