
/*
$color-primary:
$color-primary-light:
$color-primary-dark: #fff

*/

$color-black: #000;
$main-color: #518abd;
$main-color-dark: #497fad;

// GRID
$grid-width: 50rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;


//font
$default-font-size: 16px;
$description-font-size: 12px;