
        .footer {
            background-color: #fbf3ee;
            font-size: 0.7rem;
            color: $main-color;
            width: 100%;
            position: absolute;
            padding: 4.3rem 0rem;
            box-sizing:border-box;
            margin: -13.7em;
        
            &__navigation {
                border-top: 1px solid $main-color;
                padding-top: 1rem;
                display: inline-block;
            }
        
            &__list {
                list-style: none;
            }
        
            &__item{
                display: inline-block;
        
                &:not(:last-child){
                    margin-right: 1.5rem;
                }
            }
        
            &__link{
                &:link,
                &:visited{
                    color: $main-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline-block; 
                }
        
                &:hover,
                &:active{
                    color: #003e77;
                }
            }
        
            &__copyright{
                border-top: 1px solid $main-color;
                padding-top: 1rem;
                width: 80%;
                float: right;
            }
        }