.container-ofri {
  max-width: 80vw;
  margin: 0 auto;
}
.grid-row-ofri {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.grid-item-ofri {
  height: 300px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  //background-color: red;
}