
.header {
    height: 15vh;
/*    background-image: url(../img/hug1.png); */
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: 5vh;
    z-index: 100;

&_text-box{
    top: 10%;
    left: 5%;
    position: relative;
    
}

}