
.navigation {
    &__nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-position: top;
        background-color: white;
        position: relative;
        border-bottom: 1px solid $main-color;
     }

     &__list {
        position: relative;
        width: 100%;
        list-style: none;
        color: black;
        display: flex;
        justify-content: flex-end;
     }
     
     &__item {
        flex-direction: row-reverse;
    }

    &__link {
        &:link,
        &:visited {
            font-size: 0.8rem;
            font-weight: 300;
            padding: 1rem 1rem;
            color: $main-color;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s; 
    
            span{
                margin-right: 1.5rem;
            }
     }
    
        &:hover,
        &:active{
            background-position: 100%;
            color: #9eb6cb;
        }

}
}