
.btn{
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        transition: all 0s;
        position: relative;
        font-size: $default-font-size;
        border-radius: 1.5rem;
        border: 1px solid $main-color;
        cursor: pointer;
    }
    
    &:hover {
        border: 1px solid $main-color;
        background-color: $main-color-dark;

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    

    &-main{
        background-color: $main-color;
        color: white;

        &::after{
            background-color: $main-color;
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    
    
    &-animated{
        animation: MoveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $main-color;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: #518abd;
        color: #518abd;
        transform: translateY(-2px);
    }

    &:active{
        transform: translateY(0);
    }
}

