
        .composition{
            position: relative;
        
            &__photo{
                position: absolute;
                z-index: 10;
        
                &--p1{
                    width: 100%;
                    left: 0rem;
                    top: -37rem;
                }
        
                &--p2{
                    width: 50%;
                    right: 30rem;
                    top: -27rem; }
                }
        
                &--p3{
                    width: 70%;
                    left: 30%;
                    top: -10rem;
                }
        
/*
                &:hover{
                    outline: 1.5rem solid $color-primary;
                    z-index: 30;
                }
            }
        
            &:hover &__photo:not(:hover){
                transform: scale(.95);
            }
*/
        }