
.form{
    &__group:not(:last-child){
        margin-bottom: 1rem;
    }

    &__input{
        font-size: 1rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem 1rem;
        border-radius: 2px;
        background-color: rgba(gray, .10);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus{
            outline: none;
            border-bottom: 3px solid green;
        }
    
        &:focus:invalid{
            border-bottom: 3px solid red;
        }

        &::-webkit-input-placeholder{
            color: $main-color;
        }

    }




    &__label{
        font-size: 0.7rem;
        font-weight: 700;
        margin-left: 0rem;
        margin-top: 0rem;
        display: block;
        transition: all .3s;
        color: $main-color;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input{
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $main-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $main-color;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;

    }


&__textarea {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba(gray, .10);
    resize: none;
    transition: all .3s;
    
    &:focus{
        outline: none;
    }


  }

}