.gallery {
    width: 75%;
    margin: 3rem auto;
    border-radius: 3px;
/*    padding: 6rem;
    padding-left: 9rem; */
    font-size: $default-font-size;
    position: relative;
    
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        position: relative;
    }

    &__img {
        height: 120%;
        backface-visibility: hidden;
        transition: .5s;
        position: relative;
    }


    &__caption {
        position: absolute;
        transform: translate(-50%, 20%);
        top: 50%;
        left: 10%;
        color: #fff;
        font-size: 1rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(0.5px) brightness(80%);
    }
}