.sticky {
  border: 0;
  position: fixed;
  right: 5%;
  bottom: 25%;
  z-index: 1000;
  padding: 0;
  font-size: 2em;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  text-align: center;
  text-decoration: none;
  background-color: #cb5234;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  visibility: hidden;
  transition: background-color .3s, opacity .5s, visibility .5s;
  //transition: 1s all;
  opacity: 0;


  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;

  }

  &:hover {
    cursor: pointer;
    background-color: #8e3924;
  }

  &:active {
    background-color: #555;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }


  &__icon {
    font-size: 2.5rem;
    color: white;

  }

}