

body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $color-black;
}


.heading-primary{
    color: rgb(31, 29, 29);
    text-transform: uppercase;

    &-main{
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    }

    &-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 57px;
    line-height: 1;
    }
}

.heading-secondary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    display: block;
    background-color: $main-color;
    color: seashell;
    letter-spacing: 5px;

}

.heading-third {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 100;
    display: block;
    border-bottom: 1px solid #518abd;
    background-color: transparent;
    color: #518abd;
    letter-spacing: 5px;

}


.heading-four {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 100;
    display: block;
    background-color: transparent;
    color: $main-color;
    letter-spacing: 5px;

}

.description-paragraph{
    font-size: $description-font-size;
    color: #6b6562;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }

}

paragraph {
    font-size: $default-font-size;
}