.section-Gallery {
    background-color: transparent;
    padding: 5rem 0;
    margin-top: -20vh;
    position: relative;
}
  

  .spacing {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #f8f8f8 5px,
        #f8f8f8 15px);
        padding: 5rem 0;
        margin-top: -1vh;
        position: relative;
  }

    
.section-about {
    background-color: transparent;
    padding: 14rem 0;
    margin-top: -20vh; }
  

      
.section-contact {
    background-color: transparent;
    padding: 14rem 0;
    margin-top: -20vh; }
  
    
.contact {
  background-color: white;
  border: 1px solid $main-color;
  background-size: 100%;
  border-radius: 3px;
  height: 35rem;

  &__form{
      width: 100%;
      padding: 5rem;
  }
}